# Project Dependencies for Population Data Analysis

# Data manipulation
pandas

# Plotting and visualization
matplotlib

#advance data visualization
seaborn

# Note:
# Make sure you're using the provided dataset (population.csv).
# If using a different dataset, modify data_processor.py and data_visualizer.py accordingly.
# After installation, run `pip show <package>` to verify installed versions.

